boto==2.39.0
dj-database-url==0.4.1
Django==1.9.5
django-grappelli==2.8.1
django-redis==4.4.2
django-storages==1.4.1
gunicorn==19.4.5
Pillow==3.2.0
psycopg2==2.6.1
redis==2.10.5
six==1.10.0
sorl-thumbnail==12.3
whitenoise==3.0
