{% extends 'catalogue/base.html' %}
{% load thumbnail %}
{% block content %}

<!-- Title -->
<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">{{ author.get_fullname }}
      <small>{{ author.nationality }} ({{ author.date_of_birth| date:"Y" }} - {{ author.date_of_death| date:"Y" }})</small>
    </h1>
  </div>
</div>

<!-- Details -->
<div class="row">
  <div class="col-sm-4">
    {% thumbnail author.image "400x400" crop="80% top" as im %}
        <img src="{{ im.url }}" class="img-responsive detail-image" alt="{{author.get_fullname}}">
    {% endthumbnail %}
  </div>
  <div class="col-sm-8">
    <h3>Biography</h3>
    <p>{{ author.bio }}</p>
    <ul class="list-unstyled">
      <li><a role="button" class="btn btn-info" href="{{ author.url }}">Shop</a></li>
      <li class="facebook-share hidden-xs"><div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div></li>
    </ul>
  </div>
</div>

<!-- Related Books -->
{% if related_books %}
<div class="row">
    <div class="col-xs-12">
    <h3 class="page-header">Titles by {{ author.get_fullname }}</h3>
  </div>
  {% for book in related_books %}
  <div class="col-sm-3 col-xs-6">
    <a href="{% url "catalogue:book_detail" book.slug %}">
      {% thumbnail book.image "250x365" as im %}
      <img class="img-responsive portfolio-item" src="{{ im.url }}" alt="">
      {% endthumbnail %}
    </a>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
