{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Book Site</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/catalogue.css' %}">

  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</head>
<body>

  <!-- Load Facebook SDK -->
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '835374486568380',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url "catalogue:homepage" %}">Company Name</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="{% url "catalogue:book_list" %}">Catalogue</a>
          </li>
          <li>
            <a href="{% url "catalogue:author_list" %}">Authors</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container">

    {% block content %}
    {% endblock %}
  </main>
  <!-- Footer -->
  <footer class="main-footer container">
    <div class="row">
      <!-- mailing list form -->
      <div class="col-sm-6">
        <form id="mailing-list-form" action="{% url "catalogue:mailing_list" %}" method="post">
          <p>Sign up to the mailing list for news of forthcoming titles.</p>
          <p class="hidden help-block"></p>
          {% csrf_token %}
          {% for field in form %}
          {{ field }}
          {% endfor %}
          <button type="submit" class="btn btn-primary" id="mailing-list-submit">Submit</button>
        </form>
      </div>
      <div class="col-sm-6 social">
        <ul class="list-inline">
          <li><a href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=logo&w=37&h=37" alt="Company Logo" /></a></li>
          <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
          <li><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static "js/catalogue.js" %}"></script>

  {% block extra_footer %}{% endblock %}

</body>
</html>
