{% extends 'catalogue/base.html' %}
{% load thumbnail %}
{% load static from staticfiles %}
{% block content %}

<!-- Title -->
<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">{{ book.title }}
      <small>{{ book.author.get_fullname }}</small>
    </h1>
  </div>
</div>

<!-- Details -->
<div class="row">
  <div class="col-xs-12 col-sm-4">
    {% thumbnail book.image "350x465" as im %}
    <img class="img-responsive detail-image" src="{{ im.url }}" alt="{{book.title}}">
    {% endthumbnail %}
  </div>
  <div class="col-xs-12 col-sm-8">
    <h3>Description</h3>
    <p>{{ book.description }}</p>
    <h3>Details</h3>
    <ul class="book-details">
      <li>Author: <a href="{% url "catalogue:author_detail" book.author.slug %}">{{ book.author.get_fullname }}</a>, {{ book.author.nationality}} ({{ book.author.date_of_birth| date:"Y" }} - {{ book.author.date_of_death| date:"Y" }})</li>
      <li>Published: {{book.pub_date}}</li>
      <li>ISBN: {{ book.isbn }}</li>
      <li><a role="button" class="btn btn-info" href="{{ book.url }}">Shop</a></li>
      <li class="facebook-share hidden-xs"><div class="fb-like" data-share="true" data-width="450"></div></li>
      <li><a href="https://twitter.com/intent/tweet?text={{ book.title }} - {{ book.author.get_fullname }}" class="twitter-share-button" data-lang="en" data-count="none">Tweet</a>
      </li>
    </ul>
    <div class="fb-comments hidden-xs" data-href="{{ request.build_absolute_uri }}" data-numposts="3" ></div>
  </div>
</div>

<!-- Related Books -->
{% if related_books %}
<div class="row">
    <div class="col-xs-12">
    <h3 class="page-header">Also by <a href="{% url "catalogue:author_detail" book.author.slug %}">{{ book.author.get_fullname }}</a></h3>
  </div>
  {% for book in related_books %}
  <div class="col-xs-6 col-sm-3">
    <a href="{% url "catalogue:book_detail" book.slug %}">
      {% thumbnail book.image "250x365" as im %}
      <img class="img-responsive portfolio-item" src="{{ im.url }}" alt="book.title">
      {% endthumbnail %}
    </a>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}
