{% extends 'catalogue/base.html' %}
{% load thumbnail %}
{% load static from staticfiles %}
{% block extra_footer %}
<script type="text/javascript" src="{% static "js/catalogue.js" %}"></script>
{% endblock %}
{% block content %}

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for slide in slides %}
    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}" {% if forloop.first %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner home-carousel">
    {% for slide in slides %}
    <div class="item {% if forloop.first %} active{% endif %}">
    <div></div>
      <a href="{{ slide.url }}">
        {% thumbnail slide.image "1900x1080" as im %}
        <img src="{{im.url}}" alt="{{ slide.title }}" />
        {% endthumbnail %}
      </a>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</header>

<!-- Page Content -->
<div class="container">
  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Welcome to Book Site.
      </h1>
    </div>

    <div class="col-lg-12">
      <h2>
        Latest Releases.
      </h2>
    </div>

    {% for book in latest_releases %}
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        {% thumbnail book.image "250x365" as im %}
        <img class="img-responsive" src="{{ im.url }}" alt="{{ book.title }}">
        {% endthumbnail %}
        <div class="caption">
          <h4><a href="{% url "catalogue:book_detail" book.slug %}">{{ book.title }}</a><br><small>{{book.author.get_fullname}}</small>
          </h4>
          <p>{{ book.description|slice:"150" }} <a href="{% url "catalogue:book_detail" book.slug %}">Read More...</a></p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  {% endblock %}
